// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --app-bg: #0a000f;
    --card-bg: #350555;
  
    --ion-color-primary: #e2740d;
    --ion-color-primary-rgb: 0,102,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-item: #6120ac;
  
    --ion-color-success: #51c280;
    --ion-color-danger: #d63737;
    --ion-color-warning: #e2ba38;
  
    --text-main:#E0E0E0;
    --text-sub:#E0E0E0;
  
    --accent:#86E3C3;
}