// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --app-bg: #001427;
    --card-bg: #003668;
  
    --ion-color-primary: #fcc755;
    --ion-color-primary-rgb: 0,102,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-item: #002142;
  
    --ion-color-success: #00ff6a;
    --ion-color-danger: #ff0000;
    --ion-color-warning: #ffc400;
  
    --text-main:#E0E0E0;
    --text-sub:#E0E0E0;
  
    --accent:#86E3C3;
}